@font-face {
    font-family: 'Pusab';
    src: url('pusab.woff') format('woff');
}

@font-face {
    font-family: 'CandelaBold';
    src: url('candelabold.woff') format("woff");
}

html,body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Pusab', 'CandelaBold', serif; font-size: 48px;
}

#game-content { background: #FFFFFF; width: 100%; height: 100%; }

h1 {
    font-family: 'Pusab';
    font-size: 35px;
    font-weight: normal;
    color: #ffffff;
}

h2 {
    font-family: 'CandelaBold';
    font-size: 35px;
    font-weight: normal;
    color: #ffffff;
}